[Unit]
Description=bbs 论坛项目
After=network.target

[Service]
User=root
WorkingDirectory=/var/www/bbs
ExecStart=/usr/local/bin/gunicorn app_for_gunicorn:wsgi_app --worker-class=gevent --workers=3 --bind 127.0.0.1:3000
Restart=always

[Install]
WantedBy=multi-user.target