<!DOCTYPE html>
<head>
    <title>Login One</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/css-1/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css-1/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css-1/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css-1/templatemo_style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/css/style2.css">
    <link href="/static/css/style2.css" rel="stylesheet" type="text/css">
</head>
<body class="templatemo-bg-gray">
<div class="container">
    <div class="col-md-12">
        <h1 class="margin-bottom-15">Welcome</h1>
        <form class="form-horizontal templatemo-container templatemo-login-form-1 margin-bottom-30" role="form"
              action="{{ url_for('index.login') }}" method="post">
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="control-wrapper">
                        {#		            	<label for="username" class="control-label fa-label"><i class="fa fa-user fa-medium"></i></label>#}
                        <input type="text" class="form-control" id="username"
                               placeholder="username" name="username" value="test2">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="control-wrapper">
                        {#		            	<label for="password" class="control-label fa-label"><i class="fa fa-lock fa-medium"></i></label>#}
                        <input type="password" class="form-control" id="password"
                               placeholder="password" name="password" value="123">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="checkbox control-wrapper">
                        <label>
                            <input type="checkbox"> Remember me
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="control-wrapper">
                        <input type="submit" value="Log in" class="btn btn-info">
                        <a href="/reset/view" class="text-right pull-right">Forgot password?</a>
                    </div>
                </div>
            </div>
            {#		        <hr>#}
            {#		        <div class="form-group">#}
            {#		        	<div class="col-md-12">#}
            {#		        		<label>Login with: </label>#}
            {#		        		<div class="inline-block">#}
            {#		        			<a href="#"><i class="fa fa-facebook-square login-with"></i></a>#}
            {#			        		<a href="#"><i class="fa fa-twitter-square login-with"></i></a>#}
            {#			        		<a href="#"><i class="fa fa-google-plus-square login-with"></i></a>#}
            {#			        		<a href="#"><i class="fa fa-tumblr-square login-with"></i></a>#}
            {#			        		<a href="#"><i class="fa fa-github-square login-with"></i></a>#}
            {#		        		</div>		        		#}
            {#		        	</div>#}
            {#		        </div>#}
        </form>
        <div class="text-center">
            <a href="/register/view" class="templatemo-create-new">Create new account</a>
        </div>
    </div>
</div>
<div style="width:300px;margin:0 auto; padding:20px 0;">
    <a target="_blank" href="http://beian.miit.gov.cn"
       style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="" style="float:left;"/>
        <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">
            蜀ICP备19028454号-1
        </p>
    </a>
    <br>
    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=51012402000392"
       style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="" style="float:left;"/>
        <center><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">川公网安备
            51012402000392号</p></center>
    </a>
</div>
</body>
</html>